/bitrix/
!/bitrix/templates/
!/bitrix/components/
!/bitrix/modules/
!/bitrix/php_interface/
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/.env
/upload/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/html_pages/
/bitrix/backup/
/bitrix/logs/
/bitrix/tmp/
.DS_Store
Thumbs.db